In [1]:
word = str(input('give me a word: '))

counter = 0
for i in word:
    counter += 1
    
    if counter < len(word):
        i += '-'
    
    print(i, end='')

give me a word: hello
h-e-l-l-o

In [ ]:
var = 'Clarusway'
for i in var:
    #print(i)
    
    a = i.lower()
    print(a)

In [ ]:
#TypeError: 'int' object is not iterable


for i in 5:
    print(5)

In [ ]:
numbers = []

for i in range(1,6):
    numbers.append(i)
print(numbers)

In [ ]:
names = ['ahmet', 'ayse', 'adam', 'joseph', 'gabriel']
for i in names:
    print(f'hello {i.title()}')

In [2]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [4]:
b = list(range(11))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]