In [1]:
a = 0
while a < 5:
    print('square of {} is : {}'.format(a,a**2))
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [2]:
a = 0
while a < 5:
    print(f'square of {a} is : {a**2}')
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [3]:
age = input('write your age: ')

while not age.isdigit():
    print('this is not valid input!')
    age = input('write a valid age of your: ') 
   
print('you entered valid input!')

write your age: 33
you entered valid input!

In [4]:
age = input('write your age: ')

while not age.isdigit() :
    print('this is not valid input!')
    age = input('write a valid age of your: ')
    
print('you entered valid input!')

write your age: 33
you entered valid input!

In [5]:
number = 25

while True:
    
    guess = int(input('guess a number: '))
    
    if guess < number:
        print('little higher....')
        
        
    elif guess > number:
        print('little lower......')
        
        
    else:
        print('you are mindreader! ')
        break

guess a number: 33
little lower......
guess a number: 23
little higher....
guess a number: 24
little higher....
guess a number: 25
you are mindreader!

In [6]:
2**4

16

In [24]:
# input
# while 
'The best school is Clarusway'.split()

['lkfjdk', 'cdjdkdkd', 'jfjfj', 'fjfjf']

In [25]:
sentence = input('Give me a sentence : ')
word_list = sentence.split()

longest = 0
i = 0

while i < len(word_list) :
    if len(word_list[i]) >longest:
        longest = len(word_list[i])
        
    i += 1
    
print('The length of the longest word : ', longest)

Give me a sentence : The best school is Clarusway
The length of the longest word :  9

In [28]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [29]:
names = ['ahmet', 'ayse', 'adam', 'joseph', 'gabriel']
for i in names:
    print(f'hello {i.title()}')

hello Ahmet
hello Ayse
hello Adam
hello Joseph
hello Gabriel

In [35]:
list_numbers=(range(1,6))
for i in list_numbers:
    print(i)

1
2
3
4
5

In [37]:
numbers = []

for i in range(1,6):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5]

In [39]:
#TypeError: 'int' object is not iterable


for i in 5:
    print(5)

TypeError: 'int' object is not iterable

In [49]:
var = 'Clarusway'
for i in var:
    #print(i)
    
    a = i.lower()
    print(a)

c
l
a
r
u
s
w
a
y

In [54]:
word = str(input('give me a word: '))

counter = 0
for i in word:
    counter += 1
    
    if counter < len(word):
        i += '-'
    
    print(i, end='')

give me a word: clarusway
c-l-a-r-u-s-w-a-y

In [55]:
for i in 'abc':
    print('hello uyanda baliga gidelim')

hello uyanda baliga gidelim
hello uyanda baliga gidelim
hello uyanda baliga gidelim

In [56]:
test = [(1,2),(3,4), (5,6)]

In [57]:
for i, j in test:
    print(i,j)

1 2
3 4
5 6

In [61]:
num = int(input('write a number 0 - 9 : '))
for i in range(0,11):
    print(f'{num} X {i} = {num * i}')

write a number 0 - 9 : 7
7 X 0 = 0
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [62]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [64]:
text = ['one','two','three', 'four', 'five']

In [ ]:
print(text)